Ekartoteka/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfEkartoteka" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IService1_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadPatientList_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPatientList" />
  </wsdl:message>
  <wsdl:message name="IService1_DownloadPatientList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadPatientListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsBusy_InputMessage">
    <wsdl:part name="parameters" element="tns:IsBusy" />
  </wsdl:message>
  <wsdl:message name="IService1_IsBusy_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsBusyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Busy_InputMessage">
    <wsdl:part name="parameters" element="tns:Busy" />
  </wsdl:message>
  <wsdl:message name="IService1_Busy_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NotBusy_InputMessage">
    <wsdl:part name="parameters" element="tns:NotBusy" />
  </wsdl:message>
  <wsdl:message name="IService1_NotBusy_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotBusyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Wanted_InputMessage">
    <wsdl:part name="parameters" element="tns:Wanted" />
  </wsdl:message>
  <wsdl:message name="IService1_Wanted_OutputMessage">
    <wsdl:part name="parameters" element="tns:WantedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsWanted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsWanted" />
  </wsdl:message>
  <wsdl:message name="IService1_IsWanted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsWantedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NotWanted_InputMessage">
    <wsdl:part name="parameters" element="tns:NotWanted" />
  </wsdl:message>
  <wsdl:message name="IService1_NotWanted_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotWantedResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LogIn" message="tns:IService1_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LogInResponse" message="tns:IService1_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPatientList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DownloadPatientList" message="tns:IService1_DownloadPatientList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadPatientListResponse" message="tns:IService1_DownloadPatientList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsBusy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsBusy" message="tns:IService1_IsBusy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsBusyResponse" message="tns:IService1_IsBusy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Busy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Busy" message="tns:IService1_Busy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BusyResponse" message="tns:IService1_Busy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotBusy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NotBusy" message="tns:IService1_NotBusy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NotBusyResponse" message="tns:IService1_NotBusy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Wanted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Wanted" message="tns:IService1_Wanted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WantedResponse" message="tns:IService1_Wanted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsWanted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsWanted" message="tns:IService1_IsWanted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsWantedResponse" message="tns:IService1_IsWanted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotWanted">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NotWanted" message="tns:IService1_NotWanted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NotWantedResponse" message="tns:IService1_NotWanted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IService1/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPatientList">
      <soap:operation soapAction="http://tempuri.org/IService1/DownloadPatientList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBusy">
      <soap:operation soapAction="http://tempuri.org/IService1/IsBusy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busy">
      <soap:operation soapAction="http://tempuri.org/IService1/Busy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotBusy">
      <soap:operation soapAction="http://tempuri.org/IService1/NotBusy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Wanted">
      <soap:operation soapAction="http://tempuri.org/IService1/Wanted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsWanted">
      <soap:operation soapAction="http://tempuri.org/IService1/IsWanted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotWanted">
      <soap:operation soapAction="http://tempuri.org/IService1/NotWanted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfEkartoteka/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>