Ekartoteka/Service References/ServiceReference1/WcfEkartoteka.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfEkartoteka" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfEkartoteka" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Lekarz">
    <xs:sequence>
      <xs:element minOccurs="0" name="Haslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lekarz" nillable="true" type="tns:Lekarz" />
  <xs:complexType name="ArrayOfPacjent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pacjent" nillable="true" type="tns:Pacjent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacjent" nillable="true" type="tns:ArrayOfPacjent" />
  <xs:complexType name="Pacjent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alergie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataUrodzenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nazwisko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PESEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uwagi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zajety" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pacjent" nillable="true" type="tns:Pacjent" />
</xs:schema>